Django==5.0.6
gunicorn==22.0.0
dj-database-url==3.1.2
djangorestframework==3.15.2
psycopg2-binary==2.9.10
python-decouple==3.8
whitenoise==6.7.0
openai==1.57.0
Pillow==10.4.0
django-cors-headers==4.4.0
cloudinary==1.44.2
django-cloudinary-storage==0.3.0
